@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border p-0 m-0;
        background-color: inherit;
        font-family: inherit;
    }

    html, body {
        @apply max-w-full;
        height: 100vh;
        background-color: var(--bg);
        font-family: 'Work Sans', sans-serif; /* Tailwind의 font-family를 설정 */
    }

    a {
        @apply text-inherit no-underline;
    }

    ul, li {
        list-style: none;
    }

    :root {
        --bg: #f8f8f5;
        --layout-bg: #f2f1eb;
        --border-color: #8c887d;

        --fg: navy;

        --headingcolor: #657220;
        --primary-color: #d9f400;

        --header-height: 4rem;
        --nav-width: 15rem;
        --card-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    [data-theme="dark"] {
        --bg: #000000;
        --layout-bg: #272725;
        --border-color: #1f1f1d;

        --fg: #fff;

        --headingcolor: #b44d1e;
        --primary-color: #f26828;
        --card-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
    }

    [data-theme='dark'] [data-hide-on-theme='dark'],
    [data-theme='light'] [data-hide-on-theme='light'] {
        @apply hidden;
    }

    nav, header {
        background-color: var(--layout-bg);
    }
}

@layer components {
    .head-text1 {
        @apply text-5xl;
    };

    .head-text3 {
        @apply text-xl font-bold;
    };

    .primary-box {
        @apply border border-black bg-[var(--primary-color)];
    }
}
