@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border p-0 m-0;
        background-color: inherit;
        font-family: inherit;
    }

    html, body {
        @apply max-w-full;
        height: 100vh;
        background-color: var(--bg);
        font-family: 'Work Sans', sans-serif;
    }

    a {
        @apply text-inherit no-underline;
    }

    ul, li {
        list-style: none;
    }

    :root {
        --bg: #f8f8f5;
        --layout-bg: #f2f1eb;
        --border-color: #000000;

        --fg: navy;

        --headingcolor: #657220;
        --primary-color: #d9f400;

        --header-height: 4rem;
        --side-nav-width: 15rem;
        --side-nav-height: 100%;
        --card-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    [data-theme="dark"] {
        --bg: #000000;
        --layout-bg: #272725;
        --border-color: #fff;

        --fg: #fff;

        --headingcolor: #b44d1e;
        --primary-color: #f26828;
        --card-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
    }

    .side-nav {
        position: fixed;
        left: 0;
        padding-top: var(--header-height);
        width: var(--side-nav-width);
        height: var(--side-nav-height);
        z-index: 10;
    }

    @media (max-width: 1024px) {
        .side-nav {
            transition: height 0.4s ease, visibility 0.4s ease;
        }

        [data-category-navigation="hidden"] {
            --side-nav-width: 0;
            --side-nav-height: 0;
            visibility: hidden;
            overflow: hidden;
        }

        [data-category-navigation="visible"] {
            --side-nav-width: 100%;
            --side-nav-height: 100%;
            visibility: visible;
            overflow: auto;
        }
    }

    @media (min-width: 1025px) {
        [data-category-navigation="hidden"] {
            --side-nav-width: 0;
            --side-nav-height: 0;
            visibility: hidden;
            overflow: hidden;
        }

        [data-category-navigation="visible"] {
            --side-nav-width: 15rem;
            --side-nav-height: 100%;
            visibility: visible;
            overflow: auto;
        }
    }

    [data-theme='dark'] [data-hide-on-theme='dark'],
    [data-theme='light'] [data-hide-on-theme='light'] {
        @apply hidden;
    }

    nav, header {
        background-color: var(--layout-bg);
    }

    .zig-zag-line {
        --a: 90deg; /* control the angle */
        --s: 10px; /* size of the zig-zag */
        --b: 5px;  /* control the thickness */

        background: var(--primary-color);
        height: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
        width: 100%;
        --_g:var(--s) repeat-x conic-gradient(from calc(var(--a)/-2) at bottom,
        #0000,#000 1deg calc(var(--a) - 1deg),#0000 var(--a));
        mask: 50% calc(-1*var(--b))/var(--_g) exclude,50%/var(--_g);
    }
}

@layer components {
    .head-text1 {
        @apply text-5xl;
    };

    .head-text2 {
        @apply text-4xl;
    };

    .head-text3 {
        @apply text-2xl font-bold;
    };

    .head-text4 {
        @apply text-xl font-bold;
    };

    .primary-box {
        @apply border border-[var(--border-color)] bg-[var(--primary-color)];
    }
}
